block(select) {
  max-width: 100%;
  vertical-align: bottom;

  @each $size, $fontSize, $lineHeight in
    (xs, s, m, l, xl, xxl),
    (10px, 12px, 16px, 18px, 22px, 32px),
    (1.5, 1.5, 1.5, 3.11, 1.5, 1.5) {
    .mod(size $size) {
      font-size: $fontSize;
      line-height: $lineHeight;
    }
  }

  .mod(opened) .elem(tick) {
    transform: rotate(-180deg)
  }

  .mod(width available) {
    width: 100%
  }

  .mod(has-error) {
    block(button) {
      border-color: red
    }
  }

  .mod(has-clear) {
    display: flex;
  }

  .elem(button) {
    width: 100%;
    vertical-align: top;
    text-align: left;
  }


  block(button).elem(text) {
    display: block;
    padding-right: 2em;

    &:empty:before {
      content: '\00a0'
    }
  }

  .elem(header) {
    padding: 1em;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
  }

  .elem(footer) {
    padding: 1em;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
  }

  .elem(tick) {
    position: absolute;
    top: 50%;
    margin-top: -0.75em;
    bottom: 0;
    right: 0;
    transition: transform 0.1s ease-out;
    width: 2em;
    padding: .5em;

    &:empty:after {
      content: none
    }
  }

  .elem(clear) {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-image: svg-load('../icon/_symbol/icon_symbol_times.svg', fill: #fff);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.1s ease-out;

    .mod(visible) {
      opacity: 0.3;

      &:hover {
        cursor: pointer;
        opacity: 1
      }
    }
  }
}
