block(font).mod(family helvetica).mod(loaded) {
  font-family: 'Helvetica Neue';
}

@font-face {
  font-family: 'Helvetica Neue Condensed';
  src:url('font_family_helvetica.eot?#iefix');
  src:url('font_family_helvetica.eot?#iefix') format('eot'),
      url('font_family_helvetica.woff2') format('woff2'),
      url('font_family_helvetica.woff') format('woff'),
      url('font_family_helvetica.ttf') format('truetype');
}
