block(font).mod(family helvetica-bold).mod(loaded) {
  font-family: 'Helvetica Neue';
  font-weight: bold;
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: bold;
  src: url('font_family_helvetica-bold.eot?#iefix');
  src: url('font_family_helvetica-bold.eot?#iefix') format('eot'),
       url('font_family_helvetica-bold.woff2') format('woff2'),
       url('font_family_helvetica-bold.woff') format('woff'),
       url('font_family_helvetica-bold.ttf') format('truetype');
}

