block(font).mod(family helvetica-condensed).mod(loaded) {
  font-family: 'Helvetica Neue Condensed';
}

@font-face {
  font-family: 'Helvetica Neue Condensed';
  src:url('font_family_helvetica-condensed.eot?#iefix');
  src:url('font_family_helvetica-condensed.eot?#iefix') format('eot'),
      url('font_family_helvetica-condensed.woff2') format('woff2'),
      url('font_family_helvetica-condensed.woff') format('woff'),
      url('font_family_helvetica-condensed.ttf') format('truetype');
}
