block(author) {
  display: flex;
  padding-top: 80px;
  padding-bottom: 60px;


  elem(photo) {
    display: flex;
    margin-right: 30px;
    min-width: 310px;
    max-height: 310px;
  }

  elem(description) {
    display: flex;
    flex-direction: column;

    block(heading) {
      margin-bottom: 20px;
    }

    block(list){
      elem(term){
        width: 45%;
      }

      elem(definition){
        text-align: unset;
      }
    }

    block(link){
      color: #000;

      &.mod(hovered),
      &.mod(focused){
        color: #f4203b;
      }
    }
  }

  elem(social-row){
    margin-top: 25px;
    width: 232px;
    display: flex;
    justify-content: flex-start;

    block(icon){
      &:hover{
        transition: background-image, 0.4s;
      }
    }

    block(button){
      background-color: #fff;
      &.mod(hovered){
        background-color: #fff;
      }
    }
  }
}


