block(author) {
  display: flex;
  padding-top: 80px;
  padding-bottom: 60px;


  elem(photo) {
    display: flex;
    margin-right: 30px;
    min-width: 310px;

  }

  elem(description) {
    display: flex;
    flex-direction: column;

    block(heading) {
      margin-bottom: 20px;
    }

/*    block(list){
      elem(term){
        margin-right: 40px;
        display: block;
      }
    }*/

    block(link){
      color: #000;

      &.mod(hovered),
      &.mod(focused){
        color: #f4203b;
      }
    }
  }
}


