block(header) {
  position: sticky;
  top: 0;
  z-index: 10;

  elem(show-menu){
    display: none;
  }

  elem(search){
    block(text){
      display: block;
    }
    block(icon){
      display: none;
    }
  }
}
