block(header) {
  position: sticky;
  top: 0;
  z-index: 10;

  elem(social){
    block(button){
      &.mod(hovered){
        background-color: unset!important;
      }
    }

    @media(max-width: 1080px){
      display: none;
    }
  }

  elem(show-menu){
    display: none;
  }

  elem(search){

    display: flex;


    block(text){
      display: block;
    }
    block(icon){
      margin-right: 5px;
    }
  }
}
