block(card-ticket).mod(theme artdoc) {
  text-decoration: none;

  .mod(view movie) {
    .elem(header),
    .elem(content) {
      color: #23232c;
      background-color: #fff;
    }

    .elem(room) {
      color: #c5c5d3;
    }

    .elem(city) {
      color: #23232c;
    }

    .elem(user-date) {
      color: #23232c;
    }

    .elem(user-time) {
      font-size: 56px;
      line-height: 1.0;
      letter-spacing: -0.4px;
      color: #23232c;

      @media (max-width: 1320px) {
          font-size: 45px;
      }
    }

    .elem(timezone) {
      color: #666770;
    }

    .elem(buy) {
      background-color: #fff;
      color: #23232c;
      border-top: 1px solid #23232c;
    }

    .elem(left) {
      color: #a0a0ad;
    }
  }

  .mod(view order) {

    .elem(section) {
      background-color: #23232C;
      color: #fff;
    }

    .elem(aside) {
      box-shadow: inset 1px 0 #666770;
    }

    .elem(header) {
      padding: 12px 0;
    }
  }

  .mod(status active) {
    &:hover,
    &:focus {
      .elem(buy) {
        background-color: #f3203b;
        color: #fff;
        border-top-color: #f3203b;
      }
    }
  }

  .mod(status less) {
    .elem(left) {
      color: red;
    }
  }
}
