block(button).mod(theme artdoc-dark) {
  color: #23232C;
  background-color: #fff;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: color  0.4s, background 0.4s;

  &:hover {
    background-color: #F3203B;
    transition: color  0.2s, background 0.2s;
    color: #fff;
  }

  &:active {
    background-color: #CE1B32;
    color: #fff;
  }

  .mod(type link) .elem(text){
    color: blue;
  }

  .mod(focused) {
    &:before {
    }
  }

  .mod(active) {
    &:before {
      background-color: black;
    }
  }

  .mod(checked) {
    background-color: red;
  }
}
