block(button).mod(theme artdoc) {
  color: #fff;
  background-color: #111;

  .mod(hovered) {
    color: #fff;
    background-color: #f3203b;
  }

  .mod(focused) {
    color: #fff;
    background-color: #f3203b;
  }

  .mod(active) {
    color: #fff;
    background-color: #f3203b;
  }

  .mod(checked) {
    background-color: #eeeef2;
  }

}
