block(button).mod(theme artdoc) {
  color: #fff;
  background-color: #111;

  .mod(checked) {
    background-color: #eeeef2;
  }

  .mod(hovered) {
    color: #fff;
    background-color: #f3203b;
  }

  .mod(focused) {
    /*color: #fff;*/
    /*background-color: #bebec1;*/
  }

  .mod(pressed) {
    color: #fff;
    background-color: #ce1b32;
  }

  .mod(show-more) {
    color: #23232c;
    background-color: #eeeef2;

    &.mod(hovered) {
      background-color: #d5d5d9;
    }

    &.mod(pressed) {
      background-color: #bebec1;
    }
  }
}
