block(button).mod(theme artdoc-dark) {
  color: #23232c;
  background-color: #fff;

  .mod(hovered) {
    color: #fff;
    background-color: #f3203b;
  }

  .mod(focused) {
    color: #fff;
    background-color: #f3203b;
  }

  .mod(active) {
    color: #fff;
    background-color: #f3203b;
  }

  .mod(checked) {
    background-color: #eeeef2;
    color: #23232c;
  }

}