block(title) {
  /* all: initial */
  display: block;
  font-family: inherit;
  font-style: inherit;
  color: inherit;
  width: 100%;
  line-height: 1.5;
  font-weight: 700;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;

  .mod(caps) {
    text-transform: uppercase
  }
}
/* TODO: https://webref.ru/css/target */
