node_modules/
.DS_Store
.idea
.project
.svn
.zip
npm-debug.log

static/assets/font/
static/assets/*/*/*.min.*

.enb/tmp/

dist/
bundles/*/*/*
!*.bemdecl.js
bundles/*/*/*.tmpl.bemdecl.js
!.bem/*
.swp
package-lock.json
shrinkwrap.yaml
