block(footer) {

  color: #fff;

  block(title) {
    text-transform: uppercase;
    color: #fff;
    font-site: 17px;
    line-height: 20px;
    margin-bottom: 24px;
  }

  block(list) {
    elem(item) {
      line-height: 16px;
      font-size: 16px;
      margin-bottom: 16px;
      color: #fff;
    }
  }
}
