.button {
  display: block;
  padding: 15px 10px;
  background-color: #fff;
  border: none;
  box-shadow: 0px 0px 0px 1px #d2d1d1;
  cursor: pointer;
  transition: color .2s, background-color .2s, box-shadow;
  font-size: 16px;
  outline: none;
  &:hover, &:focus {
    background-color: #f3203b;
  box-shadow: 0px 0px 0px 1px #f3203b;

    color: #fff;
  }

  &:active {
    background-color: #ce1b32;
  box-shadow: 0px 0px 0px 1px #ce1b32;

  }
}
