block(menu).mod(theme artdoc-dark) {
  background: #fff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);


  .elem(group) {
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px 0;

    &-title {
      color: #999;
    }
  }
}
