/*@lost gutter 28px;*/
/*@lost flexbox flex;*/
/*@lost cycle none;*/
/*@lost clearing right;*/
/*@lost rounder 100;*/

block(movie-about).mod(theme artdoc) {
  lost-center: 100%;
  padding-top: 80px;

  .elem(section) {
    lost-column: 1/2;
  }

  .elem(title) {
    border-top: 1px solid #23232c;
    padding-top: 3px;
    margin-bottom: 16px;
  }

  .elem(item) {
    padding-bottom: 32px;
  }
}