block(paragraph) {
  & + & {
    margin-top: 1.5em;
  }

  .mod(lead) {
    font-size: 20px;
    line-height: 28px;
    padding: 20px 0;
    box-sizing: border-box;
  }

  @each $align in (left, center, right) {
    .mod(align $align) {
      text-align: $align;
    }
  }

  @each $size, $fontSize, $lineHeight in
    (  xs,    s,    m,    l,   xl,  xxl),
    (14px, 14px, 16px, 18px, 20px, 24px),
    (20px, 20px, 24px, 24px, 32px, 38px) {
    .mod(size $size) {
      font-size: $fontSize;
      line-height: $lineHeight;
    }
  }
}