block(search) {
  .mod(view form) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;

    .elem(footer) {
      margin-top: 30px;
      color: #eeeef2;
      font-weight: bold;
    }


    @media(max-width: 425px) {
      padding: 0 16px;
      box-sizing: border-box;

      elem(footer){
        block(paragraph){
          .mod(align right){
            text-align: left;
          }
        }
      }

      block(page){
        elem(title){
         margin: 0;
         margin-top: 28px;
         margin-bottom: 14px;
         padding-bottom: 4px;
         box-shadow: inset 0 -1px 0 0 #676770;
        }
      }

      elem(movie){
        block(page){
          elem(title){
            margin-top: 35px;
          }
        }
      }

      elem(tag){
        block(page){
          elem(title){
            margin-bottom: 24px;
          }
        }
      }

    }

  }
}
