block(filters) {
  max-width: 100%;

  .elem(item) {
    display: inline-block;
    margin-right: 32px;
    margin-bottom: 10px;
  }

  block(checkbox) {

    .mod(state checked) {
    }

    .elem(text) {
    }

    .elem(control) {
    }
  }

  block(select) {

    block(button) {
    }
  }

}

block(select) {

  .elem(menu) {
    width: 252px;

    .block(menu).elem(item) {
      white-space: normal;
      line-height: 20px;
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
}