block(filters) {
  max-width: 100%;

  .elem(header) {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 28px;
    align-items: center;
    box-shadow: 0 1px #23232c;
  }

  .elem(title) {
    display: inline-block;
    margin-right: auto;
    width: auto;
    cursor: pointer;
  }
 
  .elem(actions) {
    display: flex;
    align-items: center;
    margin-left: 24px;
    color: #777783;
    font-size: 14px;
    line-height: 1.5;
  }

  .elem(count) {
    margin-right: 2.2em;
  }

  .elem(reset) {
    margin-right: 2.2em;
    cursor: pointer;
  }
 
  .elem(result-count) {
    font-weight: normal;
    display: inline-block;
    margin-left: 7px;
    color: #c5c5d2;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 1em;
      height: 1em;
      background-image: svg-load('../icon/_symbol/icon_symbol_chevron-down.svg');
      background-size: cover;
      margin-right: 12px;
    }
  }

  .elem(toggle).block(button) {
    background-color: #111111;
    color: #fff;
    padding-left: 2em;
    padding-right: 2em;
    transition: all 200ms;
  }

  .elem(form) {
    /*line-height: 48px;*/
    vertical-align: middle;
    overflow: hidden;
    max-height: 0;
    transition: max-height 200ms, padding 200ms;
    position: relative;

    .mod(show) {
      padding-top: 20px;
      padding-bottom: 10px;
      max-height: 500px;
    }
  }

  .elem(item) {
    display: inline-block;
    margin-right: 32px;
    margin-bottom: 10px;
    vertical-align: middle;
    padding-bottom: 8px;

    & + & {
      margin-top: 0;
    }
  }

  .elem(params) {
    display: flex;
    align-items: center;
    margin-top: 24px;
  }

  .elem(sort) {
    flex: 1;

    &:before {
      content: 'Сначала: ';
      font-size: 14px;
      margin-right: 20px;
    }

    block(radio) {
      color: #a0a0ac;

      elem(control) {
        position: absolute;
        visibility: hidden;
      }

      elem(box) {
        display: inline-block;
        height: 8px;
        width: 8px;
        background-color: transparent;
        margin-right: 4px;
      }

      & + block(radio) {
        margin-left: 32px;
      }

      .mod(checked) {
        color: #000;

        .elem(box) {
          background-color: #F3203B;
        }
      }
    }
  }

  .elem(content).mod(loading) {
    opacity: .3;
    filter: blur(10px);
  }

  .elem(close) {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 32px;
    width: 32px;
    border-radius: 16px;
    background-color: #333;
    transition: background-color .2s;

    &:after {
      content: '×';
      color: #fff;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: block;
      text-align: center;
      font-size: 32px;
      line-height: 0.85;
    }

    &:hover {
      background-color: #666;
    }
  }

  .mod(result grid) {

    .elem(content) {
      padding-top: 56px;
    }

    .elem(result-item) {
      lost-column: 1/4;
    }
  }
}

block(select) {

  .mod(type suggest) {
    overflow: hidden;

    &.mod(opened):after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 20px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 8px 8px 8px;
      border-color: transparent transparent #fff transparent;
    }
  }

  .elem(header) {
    transform: translateY(8px); /* Place for tooltip triangle */
  }

  .elem(menu) {
    width: 255px;
    box-shadow: 0 8px 16px rgba(0,0,0,.2);
    transform: translateY(8px); /* Place for tooltip triangle */

    .block(menu).elem(item) {
      white-space: normal;
      line-height: 20px;
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
}