block(pagination) {
  text-align: center;
  padding: 40px;

  block(link) {
    transition: all .2s;
  }


  block(arrow) {
    cursor: pointer;
    background-image: url(/assets/img/static/arrow_right_white.svg);
    background-size: auto 17px;
    background-position: 17px 12px;
    background-repeat: no-repeat;
    background-color: #111;
    border-radius: 50%;
    margin: 0 20px;


    .elem(prev) {
      transform: scaleX(-1);
    }

    .mod(disabled) {
      opacity: 0.13
    }

    &:hover {
     background-color: #f31f3c;
    }
  }

  .elem(pagelink) {
    .mod(action next) {
      font-weight: bold;
    }

    .mod(state disabled) {
      color: #666;
    }

    .mod(state selected) {
      color: #fff;
      background: #f31f3c;
    }

    .mod(action prev), .mod(action next) {
      background: #111111;
      color: #fff;
      border-radius: 20px;
    }

    margin: 0 4px;

    color: #121012;

    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
  }


}
