block(modal).mod(theme artdoc) {
  display: none;
  visibility: hidden;
  z-index: 10;

  /* to prevent clickability and visiblity of internal elements with visiblity: visible */
  margin: -9999px 0 0 -9999px;

  background: rgba(50, 50, 50, 0.2);

  &,
  & .elem(content) {
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out
  }

  .elem(header) {
    align-items: baseline;
    background-color: #eee;

    block(title) {
      padding: 0 .75rem
    }
  }

  .elem(content) {
    background-color: #fff;
    /*background-clip: content-box;*/
    box-sizing: border-box;
    overflow: auto;

  }

  .elem(close) {
    cursor: pointer
  }

  .mod(js inited) {
    display: block
  }

  .mod(has-animation) {
    animation-name: modal_theme_artdoc;

    .elem(content) {
      animation-name: modal_theme_artdoc__content
    }
  }

  .mod(visible) {
    visibility: visible;
    margin: 0;

    &.mod(has-animation) {
      animation-name: modal_theme_artdoc_visible;

      .elem(content) {
        animation-name: modal_theme_artdoc_visible__content
      }
    }
  }

  .mod(size s) {
    .elem(content) {
      width: 400px;
    }
  }

  .mod(view search) {
    top: 64px;
    bottom: 0;

    .elem(cell) {
      vertical-align: top;
    }

    .elem(content) {
      display: block;
      background-color: transparent;
      height: 100%;
    }
  }

}


/* closing modal */
@keyframes modal_theme_artdoc {
  0% {
    visibility: visible;
    margin: 0;
    opacity: 1
  }

  99% {
    margin: 0
  }

  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0
  }
}

/* opening modal */
@keyframes modal_theme_artdoc_visible {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

/* closing modal__content */
@keyframes modal_theme_artdoc__content {
  0% {
    transform: scale(1)
  }

  100% {
    transform: scale(1.5)
  }
}

/* opening modal__content */
@keyframes modal_theme_artdoc_visible__content {
  0% {
    transform: scale(.75)
  }

  100% {
    transform: scale(1)
  }
}
