block(card-movie).elem(image).mod(no-image) {
  display: inline-block;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  box-sizing: border-box;
  background-image: svg-load(card-movie__image_no-image.svg);
  background-size: cover;
  background-color: #eeeef2;
}