block(button) {
  display: inline-flex;
  position: relative;
  z-index: 1;
  text-decoration: none;
  box-shadow: none;
  outline: none;
  line-height: 1.5;

  align-items: stretch;
  vertical-align: middle;
  text-align: center;
  border: 0;
  padding: 0;

  &::-moz-focus-inner {
    padding: 0;
    border: 0
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    z-index: -1;
    background-color: transparent;
  }

  .elem(text) {
    display        : inline-block;
    flex           : 1;
    font           : inherit;
    color          : inherit;
    line-height    : inherit;
    vertical-align : middle;
    text-align     : inherit;
    box-sizing     : border-box;
    margin         : 0;
    border         : 0;
    padding        : 0 .25em;
    overflow       : hidden;          /* Для текста, который всё же выходит за края */
  }

  block(icon) + block(button).elem(text) {
    text-align: left;
    padding-left: 0;
  }

  @each $size, $fontSize, $lineHeight in
    (xs, s, m, l, xl, xxl),
    (12px, 14px, 16px, 18px, 22px, 32px),
    (1.5, 2, 2.5, 3.11, 1.5, 1.5) {
    .mod(size $size) {
      font-size: $fontSize;
      line-height: $lineHeight;
    }
  }

  .mod(vertical) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;

    block(icon) {
      padding-bottom: 0;

      &:only-child {
        padding: .75rem;
      }

      & + block(button).elem(text) {
        text-align: center;
        padding-left: .375em;
      }
    }
  }

  .mod(view plain) {
    padding: 0;
    background-color: transparent;

    &:before {
      content: none;
    }
  }

  .mod(focused) {
    outline: none;
  }

  .mod(togglable radio) {
    &:before {
      box-shadow: none;
    }
  }

}
