block(card-author) {
  display: inline-flex;
  align-items: center;

  & + & {
    margin-left: .5em;
  }

  @each $size, $fontSize in
    (xs, s, m, l, xl, xxl),
    (9px, 12px, 16px, 18px, 22px, 32px) {
    .mod(size $size) {
      .elem(aside) {
        font-size: $fontSize;
      }
    }
  }

  .elem(content) {
    padding-right: .5em;
    box-sizing: border-box;
  }

  .elem(aside) {
    margin-right: .5em;
    width: 5.25em;
    height: 5.25em;
  }

}
