block(card-author) {
  display: inline-flex;
  align-items: center;

  & + & {
    margin-left: .5em;
  }

  .elem(content) {
    padding-right: .5em;
    box-sizing: border-box;
  }

  .elem(aside) {
    margin-right: .5em;
    width: 5.25em;
    height: 5.25em;
  }
  
}