block(card-author) {
  display: inline-flex;
  align-items: center;

  @each $size, $width, $fontSize in
    (  xs,    s,    m,    l,    xl,   xxl),
    (24px, 32px, 48px, 84px, 112px, 312px),
    (16px, 16px, 12px, 16px,  16px,  16px) {
    .mod(size $size) {
      font-size: $fontSize;
      margin-right: 2em;
      margin-bottom: 1em;

      .elem(aside) {
        margin-right: 1em;
      }
      .elem(aside) {
        width: $width;
        height: $width;
      }
    }
  }

  .elem(content) {
    padding-right: .5em;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
  }

  .elem(aside) {
    margin-right: .5em;
  }

  .mod(view club-performer) {
    display: flex;
    flex-direction: column;
  }
}