block(nav-menu).mod(theme artdoc) {
  .elem(item) {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
    color: #fff;
    text-decoration: none;

    & + elem(item) {
      margin-left: 2em;
    }
  }
}
