block(ticket-case).mod(theme artdoc) {
  padding-top: 32px;
  box-sizing: border-box;
  padding-bottom: 64px;

  .elem(header) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  .elem(title) {
    flex: 1;
    font-size: 17px;
    font-weight: bold;
    font-stretch: condensed;
    line-height: 1.18;
    color: #f7f7f7;
    text-transform: uppercase;
  }

  .elem(calendar) {
    display: block;
    lost-center: 100%;
    margin-bottom: 52px;

    .block(radio) {
      lost-column: 1/7 7 28px;
      border-top: 1px solid #666770;
      padding: 8px 8px 12px;
      box-sizing: border-box;
      font-size: 40px;
      font-weight: bold;
      color: #a0a0ac;

      @media (max-width: 1320px) {
        font-size: 35px;
      }

      @media (max-width: 1024px) {
        font-size: 30px;
      }

      .elem(box) {
        position: absolute;
        opacity: 0;
      }

      .mod(checked) {
        color: #fff;
        background-color: #f4203b;
        border-top-color: transparent;
      }
    }
  }

  .elem(content) {
    lost-center: 100%;
  }

  .elem(list-tickets) {
    lost-column: 5/6 0 28px;
  }

  .elem(list-tickets-set) {
    display: none;

    .mod(show) {
      display: block;
    }
  }


  .elem(aside) {
    lost-column: 1/6 0 28px;
  }
}
