block(link).mod(theme artdoc-dark) {
  color: #f4203b;
  transition: background 0.4s;

  .mod(hovered),
  .mod(focused) {
    color: #a0a0ac;
  }

  .mod(view tag) {
    color: #fff;
    background-color: #23232c;
    transition: background 0.15s;

    &:hover {
      background: #f4203b;
      trastion: background 0.3s;
    }

  }
}
