block(card-movie) {
  display: flex;
  lost-center: 100%;

  .mod(view full) {
    align-items: flex-start;
    margin-bottom: 40px;

    .elem(aside) {
      lost-column: 15/47 0 0;
      margin-left: 56px;
    }
  }

  .mod(view order) {
    padding: 24px 0;
    box-sizing: border-box;
    box-shadow: inset 0px 1px 0px 0px currentColor,
                inset 0px -1px 0px 0px currentColor;

    .elem(aside) {
      lost-column: 23/32 1 0;
      margin-left: 28px;
    }
  }

  .mod(view ticket) {
    flex-direction: column;

    .elem(section) {
      display: flex;
      flex-direction: row;
      padding: 24px 0;
      box-sizing: border-box;
      box-shadow: inset 0px 1px 0px 0px currentColor,
                  inset 0px -1px 0px 0px currentColor;

      & + .elem(section) {
        box-shadow: inset 0px -1px 0px 0px currentColor;
      }
    }

    .elem(aside) {
      lost-column: 23/32 1 0;
      margin-left: 28px;
    }
  }

  .mod(view schedule) {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    box-shadow: inset 0px 1px 0px 0px currentColor,
                inset 0px -1px 0px 0px currentColor;

    & + & {
      box-shadow: inset 0px -1px 0px 0px currentColor;
    }

    .elem(aside) {
      lost-column: 9/24 0 28px;
      margin-left: 28px;
    }

    .elem(aside).mod(view schedule) {
      lost-column: 2/24 0 28px;
      margin-left: 0;
    }

    .elem(aside).mod(view action) {
      lost-column: 5/24 1 28px;
      margin-left: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  .mod(view promo) {
    padding-bottom: 38px;

    .elem(aside) {
      lost-column: 8/24 1 28px;
      margin-left: 56px;
      display: flex;
      flex-direction: column;
    }

    .elem(aside).mod(view schedule) {
      lost-column: 2/24 0 28px;
      margin-left: 0;
    }

    .elem(description) {
      margin-bottom: auto;
    }

    .elem(section) {
      lost-center: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
    }

    .elem(discussion) {
      lost-column: 1/2 0 28px;
      color: #23232c;
      font-size: 13px;
      line-height: 16px;
    }

    .elem(show-more) {
      lost-column: 1/2 1 28px;
      text-align: right;
    }

    .elem(cover) {
      padding: 56px 28px 40px;
      background-color: hsla(0, 0%, 0%, 0.4);
    }
  }

  .mod(view play) {
    flex-direction: column;

    .elem(section) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100%;
      margin: 0;

      .mod(view title) {
        flex-direction: column;
        margin-bottom: 8px;
      }

      .mod(view info) {
        flex-direction: column;
        margin-top: 40px;
        padding-right: 50%;
        box-sizing: border-box;
      }
    }

    .elem(aside) {
      lost-column: 13/47 1 0;
      background-color: #111;
    }

    .elem(discussion) {
      padding: 40px 28px;
      box-sizing: border-box;
      text-align: center;
    }
  }

  .mod(view short) {
    display: flex;
    justify-content: flex-start;
    padding: 12px 28px;
    box-sizing: border-box;
    box-shadow: 0px 28px 0px -27px rgb(255, 255, 255, 0.1);

    .elem(aside) {
      lost-column: 16/26 0 0;
      margin-left: 14px;
    }

    .elem(name) {
      font-size: 14px;
      line-height: 20px;
      color: #fff;
    }

    .elem(date) {
      color: #A0A0AC;
      font-size: 14px;
      line-height: 20px;
      padding-top: 5px;
    }
  }

  .mod( view slide ) {
    height: 100%;

    elem(content) {
      position: relative;
    }

    elem(orig-name) {
      color: white;
    }

    elem(name) {
      font-weight: bold;
      font-size: 40px;
      line-height: 48px;
      color: white;
    }

    elem(info) {
      position: absolute;
      top: 0;
      z-index: 2;
      width: 311px;
      display: flex;
      height: 48px;

      elem(title) {
        color: white;
        font-size: 17px;
        line-height: 20px;
        padding: 20px 15px 8px;
        text-transform: uppercase;
      }

      elem(icon) {
        width: 48px;
        height: 48px;
        background-color: #F3203B;
      }
    }

    elem(on-cover) {
      background: rgb(0, 0, 0, 0.8);
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
    }

    elem(director) {
      color: white;
    }

    elem(description) {
      max-width: 60%;
    }

    elem(year) {
      color: white;
    }

    elem(countries) {
      color: white;
    }

    elem(buy-button) {
      max-width: 234px;
      margin-top: 30px;
    }

    block(button) {
      display: block;
      padding: 15px 30px;
      background-color: #fff;

      elem(text) {
        color: black!important;
      }
    }
  }

  .elem(play-status) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-size: 32px;
    text-transform: uppercase;
  }

  .elem(play-status-header) {
    font-weight: bold;
  }

  .elem(play-status-countdown) {
    font-size: 56px;
  }

  .elem(content) {
    position: relative;
    flex: 1;

    &:before {
      content: '';
      float: left;
      padding-bottom: 56.25%;
    }

    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  .elem(header) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    .mod(hide) {
      display: none;
    }
  }

  .elem(footer) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .elem(is-premiere) {
    display: inline-block;
    background-color: #f3203b;
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
    padding: .393em .785em;
    box-sizing: border-box;
    float: left;
  }

  .elem(image) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .elem(cover) {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background: linear-gradient(90deg, #000 0%, transparent 100%);*/
  }

  .elem(cover) {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    flex-direction: column;

    padding: 56px 28px 40px;
    text-decoration: none;
  }

  .elem(is-today) {
    font-size: 17px;
    font-weight: bold;
    font-stretch: condensed;
    text-transform: uppercase;
    flex: 1;
  }

  .elem(video-container) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -10;

    &:before {
      content: '';
      float: left;
      padding-bottom: 56.25%;
    }

    &:after {
      content: '';
      display: table;
      clear: both;
    }

    .mod(visible) {
      z-index: 1;
    }
    
  }

  .elem(video) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    height: 100%;
  }

  .elem(slider) {
    margin-top: 10px;
    white-space: nowrap;
  }

  .elem(slider-item) {
    display: inline-block;
    position: relative;


    & + .elem(slider-item) {
      margin-left: 10px;
    }

    .mod(checked):before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border: 3px solid #f5083f;
      box-sizing: border-box;
    }

    .mod(type video):after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -10px;
      margin-top: -10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 0 10px 20px;
      border-color: transparent transparent transparent #fff;
    }
  }

  .elem(rating) {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    font-size: 2rem;
    padding: 0 10px;
    box-sizing: border-box;
    opacity: .8;
    z-index: 1;
    line-height: 3rem;

    &:before {
      content: attr(data-title);
      font-size: 12px;
      line-height: 1.17;
      display: inline-block;
      width: 54px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 10px;
      height: 10px;
    }
  }

  .elem(orig-name) {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
  }

  .elem(name) {
    display: block;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.0;
    text-decoration: none;
    margin-top: 0;
  }

  .elem(list).elem(list) {
    font-size: 14px;
    margin-bottom: 4px;
  }

  .elem(list) + .elem(list) {
    margin-top: 16px;
  }

  .elem(tvpg) {
    display: inline-block;
    font-size: 12px;
    line-height: 2;
    padding: 0 5px;
    box-sizing: border-box;
  }

  .elem(buy) {
    margin-top: 1em;
    display: block;
    width: 100%;

    block(button) {
      line-height: 48px;
      font-weight: bold;
      background-color: #111;
      color: #fff;
      display: block;
      width: 100%;

      .block(icon) {
        background-color: #f4203b;
        width: 2em;
      }
    }

    &.block(checkbox).mod(checked) {
      block(button) {
        background-color: #eeeef2;
        color: #111;
      }
    }
  }

  .elem(description) {
    margin-top: 24px;
    font-size: 14px;
    line-height: 1.5;
  }

  .elem(schedule-duration) {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 1em;
    padding-left: 6px;
    padding-right: 6px;
  }

  .elem(schedule) {
    display: block;
    padding-left: .75em;

    & + .elem(schedule):before {
      content: '…';
      display: block;
      color: red;
    }
  }

  .elem(schedule-day) {
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
  }

  .elem(schedule-month) {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
  }

  .elem(show-more) {
    margin-top: auto;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.43;
    text-decoration: none;

    &:after {
      content: '>';
      margin-left: 12px;
    }
  }


  .mod(view selection) {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;

    .block(image) {
      height: 110px;
    }

    .elem(name) {
      font-size: 16px;
    }

    .elem(cover) {
      height: 110px;
    }

    .elem(cover) {
      height: 10px;
    }

    .elem(content):before {
      padding-bottom: 0;
    }

    .elem(director) {
      display: block;
      color: #676770;
      font-size: 14px;
      margin: 10px 0;
    }

    .elem(aside) {
      margin-bottom: 10px;
    }

    .elem(year),
    .elem(countries) {
      display: block;
      font-size: 12px;
      margin-bottom: 5px;
    }

  }
}
