block(card-movie) {
  display: flex;
  lost-center: 100%;

  .elem(awards) {
    color: #fff;
    /*background-color: rgba(17, 17, 17, .8);*/
    display: inline-block;
    width: 48px;
    height: 48px;
    opacity: .8;
    z-index: 1;
    padding: .5em;
    box-sizing: border-box;
    margin-right: 1px;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
    /*background-image: svg-load('./__awards/card-movie__awards.svg');*/

    .mod(type lavr) {
      background-image: svg-load('./__awards/_type/card-movie__awards_type_lavr.svg');
      background-color: rgba(17, 17, 17, .8);
    }

    .mod(type artdocfest) {
      background-image: svg-load('./__awards/_type/card-movie__awards_type_artdocfest.svg');
      background-color: rgba(17, 17, 17, .8);
    }
  }

  .elem(buy) {
    margin-top: 24px;

    block(paragraph){
      &.mod(empty){
        display: none;
      }
    }
  }

  .elem(content) {
    position: relative;
    flex: 1;

    &:before {
      content: '';
      float: left;
      padding-bottom: 56.25%;
    }

    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  elem(duration),
  elem(language),
  elem(subs){
    block(text){
      vertical-align: 3%;
    }
  }

  .elem(cover) {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    padding: 56px 28px 40px;
    text-decoration: none;
  }

  .elem(description) {
    margin-top: 24px;
    font-size: 14px;
    line-height: 1.5;

    p { margin: 0 }
  }

  .elem(discussion) {
    font-size: 13px;
    line-height: 16px;
    position: relative;
    box-sizing: border-box;
    padding-left: 44px;
    width: 194px;
    color: #676770;
    cursor: pointer;

    &:before {
      content: '';
      display: block;
      width: 34px;
      height: 32px;
      background-image: url(../../../static/assets/img/static/duscussion_icon.svg);
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      left: 0;
    }

    &:hover{
      elem(tooltip){
        opacity: 1;
      }

    }

    elem(tooltip){
      position: absolute;
      padding: 12px 16px 24px;
      box-sizing: border-box;
      background-color: #fff;
      opacity: 0;
      transition: opacity 0.5s;
      color: #111111;
      box-shadow: 0 0 2px 1px #D9D9D9;

      .mod(schedule){
        bottom: -155px;
        left: -80px;
        width: 200px;
        height: 140px;
      }

      .mod(promo){
        top: -115px;
        left: -80px;
        width: 200px;
        height: 100px;
      }
    }
  }

  .elem(footer) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .elem(header) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    .mod(hide) {
      display: none;
    }
  }

  .elem(image) {
    width: 100%;
    height: 100%;
    object-fit: cover;

    .mod(hide) {
      opacity: 0;
    }
  }

  .elem(is-premiere) {
    display: inline-block;
    background-color: #f3203b;
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
    padding: .393em .785em;
    box-sizing: border-box;
    float: left;
    margin-right: 1px;
  }

  .elem(is-today) {
    font-size: 17px;
    font-weight: bold;
    font-stretch: condensed;
    text-transform: uppercase;
    flex: 1;
  }

  .elem(list) {
    margin-bottom: 4px;

    & + & {
      margin-top: 16px;
    }
  }

  .elem(name) {
    font-weight: bold;
    text-decoration: none;

    .mod(link) {
      color: inherit;
    }
  }

  .elem(orig-name) {
    font-size: 14px;
    line-height: 1.5;
  }

  .elem(play-status) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-size: 32px;
    text-transform: uppercase;
  }

  .elem(play-status-countdown) {
    font-size: 56px;
  }

  .elem(play-status-header) {
    font-weight: bold;
    margin-bottom: 12px;
  }

  .elem(rating) {
    position: relative;
    display: inline-block;
    text-align: center;
    z-index: 1;
    padding-right: .375em;
    padding-left: .375em;
    box-sizing: border-box;
    margin-right: 1px;
    float: left;

    &:before {
      content: attr(data-title);
      font-size: 12px;
      line-height: 1.17;
      display: inline-block;
      text-align: left;
      width: 54px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: .3125em;
      height: .3125em;
      background-color: #f3203b;
    }
  }

  .elem(schedule) {
    display: block;
    padding-left: .75em;

    & + .elem(schedule):before {
      content: '…';
      display: inline-block;
      color: #f3203b;
      font-weight: 700;
      font-size: 27px;
      vertical-align: baseline;
      line-height: 0;
      padding-bottom: .7em;
    }

    .mod(period) {
      .elem(schedule-day) {
        font-size: 18px;
      }
    }
  }

  .elem(schedule-day) {
    font-size: 40px;
    font-weight: bold;
    line-height: 1;

    @media (max-width: 1104px) {
        font-size: 30px;
    }
  }

  .elem(schedule-duration) {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 1em;
    padding-left: 6px;
    padding-right: 6px;
  }

  .elem(schedule-month) {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.25;


    @media (max-width: 1280px) {
      font-size: 16px;
    }

    @media (max-width: 1104px) {
        font-size: 14px;
    }
  }

  .elem(schedule-week-day) {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.25;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  .elem(show-more) {
    margin-top: auto;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.43;
    text-decoration: none;

    &:after {
      content: '>';
      margin-left: 12px;
    }
  }

  .elem(slider) {
    position: absolute;
    left: 0;
    right: 0;
    white-space: nowrap;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .elem(slider-item) {
    display: inline-block;
    position: relative;
    width: 100px;
    border: 3px solid transparent;
    box-sizing: border-box;
    /*background-color: #000;*/

    &:before {
      content: '';
      float: left;
      padding-bottom: 56.25%;
    }

    &:after {
      content: '';
      display: table;
      clear: both;
    }

    & + .elem(slider-item) {
      margin-left: 10px;
    }

    .mod(checked) {
      border-color: #f5083f;
    }

    .mod(type video):after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -10px;
      margin-top: -10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 0 10px 20px;
      border-color: transparent transparent transparent #fff;
    }
  }

  .elem(video) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    height: 100%;
  }

  .elem(video-container) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -10;

    &:before {
      content: '';
      float: left;
      padding-bottom: 56.25%;
    }

    &:after {
      content: '';
      display: table;
      clear: both;
    }

    .mod(visible) {
      z-index: 1;
    }
  }

  .elem(tvpg) {
    display: inline-block;
    font-size: 12px;
    line-height: 2;
    padding: 3px 5px;
    box-sizing: border-box;
  }

  .mod(view full) {
    align-items: flex-start;
    /*padding-bottom: 40px;*/
    box-sizing: border-box;

    .elem(aside) {
      lost-column: 15/47 0 0;
      margin-left: 56px;
    }

    .elem(buy) {
      width: 100%;

      block(paragraph){
        &.mod(empty){
          display: block;
        }
      }
    }

    .elem(content) {
      padding-bottom: 144px; /* место под слайдер */
    }

    .elem(description) {
      margin-bottom: 80px;
    }

    .elem(name) {
      margin-bottom: 24px;
    }

    .elem(rating) {
      font-size: 32px;
      line-height: 48px;
    }
  }

  .mod(view grid) {
    flex-direction: column;
    padding-bottom: 56px;

    .elem(name) {
      padding-top: 1em;
      padding-bottom: 1em;
    }

    .elem(rating) {
      width: 32px;
      line-height: 32px;
      font-size: 16px;
      font-weight: bold;

      &:before {
        content: none;
      }
    }

    .elem(awards) {
      width: 32px;
      height: 32px;
      padding: .35em;
    }

    .elem(director) {
      display: block;
      font-size: 14px;
    }

    .elem(countries) {
      font-size: 12px;
      color: #676770;

      & + .elem(year):before {
        content: ', ';
      }
    }

    .elem(year) {
      font-size: 12px;
      color: #676770;
    }
  }

  .mod(view order) {
    padding: 24px 0;
    box-sizing: border-box;
    box-shadow: inset 0px 1px 0px 0px currentColor,
                inset 0px -1px 0px 0px currentColor;

    .elem(aside) {
      lost-column: 23/32 1 0;
      margin-left: 28px;
    }

    .elem(name) {
      margin-bottom: 16px;
    }
  }

  .mod(view ticket) {
    display: flex;
    flex-direction: row;
    padding: 24px 0;
    box-sizing: border-box;
    box-shadow: inset 0px 1px 0px 0px currentColor,
                inset 0px -1px 0px 0px currentColor;

    .elem(aside) {
      lost-column: 23/32 1 0;
      margin-left: 28px;
    }
  }

  .mod(view schedule),
  .mod(view list) {
    align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: inset 0px 1px 0px 0px currentColor,
                inset 0px -1px 0px 0px currentColor;

    & + & {
      box-shadow: inset 0px -1px 0px 0px currentColor;
    }

    .elem(aside) {
      lost-column: 9/24 0 28px;
      margin-left: 28px;
    }

    .elem(aside).mod(view schedule) {
      lost-column: 2/24 0 28px;
      margin-left: 0;
    }

    .elem(aside).mod(view action) {
      align-self: stretch;
      lost-column: 5/24 1 28px;
      margin-left: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .elem(rating) {
      width: 32px;
      line-height: 32px;
      font-size: 16px;
      font-weight: bold;

      &:before {
        content: none;
      }
    }

    .elem(description) {
      color: #5f5f5f;
      font-size: 13px;
      line-height: 20px;
    }

    .elem(name) {
      margin-bottom: 12px;
    }

    .elem(awards) {
      width: 32px;
      height: 32px;
      padding: .35em;
    }
  }

  .mod(view list) {
    .elem(aside) {
      lost-column: 11/24 0 28px;
    }

    .elem(aside).mod(view action) {
      lost-column: 5/24 1 28px;
    }
  }

  .mod(view schedule){
    elem(discussion){
      elem(tooltip){
        &::after{
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          box-shadow: -1px -1px 1px 0 #D9D9D9;
          transform: rotate(45deg);
          background-color: #fff;
          top: -5px;
          left: 92px;
        }
      }
    }
  }

  .mod(view promo) {
    padding-bottom: 38px;

    .elem(aside) {
      lost-column: 8/24 1 28px;
      margin-left: 56px;
      display: flex;
      flex-direction: column;
    }

    .elem(aside).mod(view schedule) {
      lost-column: 2/24 0 28px;
      margin-left: 0;
    }

    .elem(description) {
      margin-bottom: auto;
    }

    .elem(section) {
      lost-center: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
    }

    .elem(show-more) {
      margin-top: 10px;
      lost-column: 1/2 1 28px;
      text-align: right;
      width: 200px;
    }

    .elem(cover) {
      padding: 56px 28px 40px;
      background: linear-gradient(270deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.7) 100%);
    }

    .elem(awards) {
      width: 32px;
      height: 32px;
      padding: .35em;
    }

    elem(discussion){
      margin-top: 20px;
      width: 250px;

      elem(tooltip){
        &::after{
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          box-shadow: 1px 1px 1px 0 #D9D9D9;
          transform: rotate(45deg);
          background-color: #fff;
          bottom: -5px;
          left: 90px;
        }
      }
    }
  }

  .mod(view play) {
    flex-direction: column;
    padding-top: 32px;

    .elem(section) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100%;
      margin: 0;

      .mod(view title) {
        flex-direction: column;
        margin-bottom: 8px;
      }

      .mod(view info) {
        flex-direction: column;
        margin-top: 40px;
        padding-right: 50%;
        box-sizing: border-box;
      }
    }

    .elem(aside) {
      lost-column: 13/47 1 0;
      background-color: #111;
      display: flex;
    }

    .elem(cover) {
      background: linear-gradient(180deg, #090822 0%, rgba(9,8,34,0) 100%);
    }

    .elem(discussion) {
      padding: 40px 28px;
      box-sizing: border-box;
      text-align: center;
      margin: auto;
    }
  }

  .mod(view short) {
    display: flex;
    justify-content: flex-start;
    padding: 12px 28px;
    box-sizing: border-box;
    box-shadow: 0px 28px 0px -27px rgb(255, 255, 255, 0.1);

    .elem(aside) {
      lost-column: 16/26 0 14px;
      margin-left: 14px;
    }

    .elem(name) {
      font-size: 14px;
      line-height: 20px;
    }

    .elem(date) {
      color: #A0A0AC;
      font-size: 14px;
      line-height: 20px;
      padding-top: 5px;
    }
  }

  .mod(view slide) {
    height: 100%;

    .elem(content) {
      position: relative;

      @media (max-width: 1280px) {
        min-height: 460px; /* костыль, пока нет моб. версии */
      }
    }

    .elem(orig-name) {
      color: white;
    }

    .elem(name) {
      margin-bottom: 24px;
    }

    .elem(info) {
      position: absolute;
      top: 0;
      z-index: 2;
      display: flex;
      height: 48px;
    }

    .elem(title) {
      color: white;
      font-size: 17px;
      line-height: 20px;
      padding-top: 21px;
      padding-left: 16px;
      text-transform: uppercase;
    }

    .elem(icon) {
      width: 48px;
      height: 48px;
      background-color: #F3203B;
      background-image: url(../../../static/assets/img/static/icon_ticket.svg);
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }

    .elem(cover) {
      background: linear-gradient(270deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.7) 100%);
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px 56px 48px;
    }

    .elem(director) {
      color: white;
    }

    .elem(description) {
      max-width: 60%;

      @media (max-width: 1280px) {
        max-width: 100%;
        margin-top: 0;
      }
    }

    .elem(year) {
      color: white;
    }

    .elem(countries) {
      color: white;
    }
  }

  .mod(view selection) {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    box-shadow: inset 0 -1px #000;

    .block(image) {
      height: 110px;
    }

    .elem(content) {
      text-decoration: none;
      flex: 0;
    }

    .elem(name) {
      font-size: .94em;
    }

    .elem(cover) {
      height: 110px;
    }

    .elem(content):before {
      padding-bottom: 0;
    }

    .elem(director) {
      display: block;
      color: #676770;
      font-size: 14px;
      margin: 10px 0;
    }

    .elem(aside) {
      margin-top: auto;
      margin-bottom: 10px;
    }

    .elem(year),
    .elem(countries) {
      display: block;
      font-size: 12px;
      margin-bottom: 5px;
    }
  }

  .mod(view text) {

    .elem(content) {
      padding-top: 10px;
      padding-bottom: 10px;

      &:before {
        content: none;
      }
    }

    .elem(name),
    .elem(orig-name),
    .elem(year) {
      display: inline-block;
      line-height: 20px;
      width: auto;
    }

    .elem(name) {
      font-size: 16px;
      margin-right: 10px;
    }

    .elem(orig-name),
    .elem(year) {
      font-size: 14px;
    }

    .elem(orig-name){
      margin-right: 10px;
    }
  }
}
