block(form).mod(theme artdoc-dark) {

  .elem(section) {
    margin-bottom: 24px;
  }

  .elem(footer) {
    margin-top: 1em;
  }

  .mod(view payment) {
    padding: 0 40px 40px;
  }

  .mod(view search) {
    background-color: rgba(35, 35, 44, .95);
  }
}