block(layout) {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;

  @media (max-width: 568px) {
    flex-direction: column;
  }

  elem(content){
    flex: 1;
  }

}
