block(page-club) {

  block(title) {
    font-size: 32px;
    letter-spacing: 1px;
    line-height: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  elem(main-title) {
    max-width: 355px;
    font-size: 54px!important;
    line-height: 64px!important;
    text-transform: none!important;
    position: relative;
  }


  elem(main-title):after {
    content: '';
    width: 12px;
    height: 12px;
    background-color: #F3203B;
    position: absolute;
    bottom: 12px;
    right: -10px;
  }

  .block(paragraph) {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 30px;
    color: #23232C;

    block(link) {
      color: #fff;
      font-size: 20px;
      line-height: 28px;
      border-bottom: 1px solid rgb(255, 255, 255, 0.5);
      cursor: pointer;
    }
  }

  elem(header) {
    max-width: 1316px;
    margin: 30px auto 0;
  }

elem(content) {
    max-width: 868px;
    margin: 80px auto;

    elem(text-block){
      margin-bottom: 80px;
    }

    elem(rate-list) {
      display: flex;
      flex-wrap: wrap;
    }

    elem(rate-title) {
      margin-bottom: 0!important;
    }


    block(rate-card) {
      display: flex;
      width: 380px;
      margin-bottom: 60px;
      margin-right: 36px;
      height: 72px;
      line-height: 24px;
      font-size: 16px;
      position: relative;
      box-sizing: border-box;

      elem(count) {
        width: 56px;
        height: 56px;
        display: block;
        flex-shrink: 0;
        margin-right: 16px;
        -webkit-background-size: cover;
        background-size: cover;
      }

      elem(count_1) {
        background-image: url(../../assets/img/static/club_icon_1.svg);
      }

      elem(count_2) {
        background-image: url(../../assets/img/static/club_icon_2.svg);
      }

      elem(count_3) {
        background-image: url(../../assets/img/static/club_icon_3.svg);
      }

      elem(count_4) {
        background-image: url(../../assets/img/static/club_icon_4.svg);
      }
    }

  }

elem(hidden){
    mod(hide) {
    display: none;
  }
}

elem(party) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

    block(description) {

        elem(name){
          margin-top: 23px;
          text-align: center;
          font-size: 14px;
          line-height: 24px;
        }

        elem(role){
          font-size: 14px;
          line-height: 20px;
          text-align: center;
          color: #777783;
        }
    }

    elem(item){
      width: 200px;
      height: 180px;
      margin: 30px 0;
    }

    elem(director_1) {
      background-image: url(../../assets/img/filmmaker/userpic_Solnceva.png);
    }

    elem(director_2) {
      background-image: url(../../assets/img/filmmaker/userpic_Arxangel.png);
    }

    elem(director_3) {
      background-image: url(../../assets/img/filmmaker/userpic_Plaxov.png);
    }

    elem(director_4) {
      background-image: url(../../assets/img/filmmaker/userpic_Zhemyakin.png);
    }

    elem(director_5) {
      background-image: url(../../assets/img/filmmaker/userpic_Dolin.png);
    }

    elem(director_6) {
      background-image: url(../../assets/img/filmmaker/userpic_Korezkiy.png);
    }

    elem(director_7) {
      background-image: url(../../assets/img/filmmaker/userpic_Matizen.png);
    }

    elem(director_8) {
      background-image: url(../../assets/img/filmmaker/userpic_Zhavlovskiy.png);
    }

    elem(director_9) {
      background-image: url(../../assets/img/filmmaker/userpic_Smirnova.png);
    }

    elem(director_10) {
      background-image: url(../../assets/img/filmmaker/userpic_Stishova.png);
    }

    elem(director_11) {
      background-image: url(../../assets/img/filmmaker/userpic_Abdulaeva.png);
    }

    elem(director_12) {
      background-image: url(../../assets/img/filmmaker/userpic_Malukova.png);
    }

    elem(director_13) {
      background-image: url(../../assets/img/filmmaker/userpic_Karcev.png);
    }

    elem(director_14) {
      background-image: url(../../assets/img/filmmaker/userpic_Arkus.png);
    }

    elem(director_15) {
      background-image: url(../../assets/img/filmmaker/userpic_Galitskay.png);
    }

    elem(director_16) {
      background-image: url(../../assets/img/filmmaker/userpic_Sherwood.png);
    }

    elem(director_17) {
      background-image: url(../../assets/img/filmmaker/userpic_Ershova.png);
    }


    elem(maker) {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
      align-items: center;

      elem(image) {
        width: 128px;
        flex-shrink: 0;
        height: 128px;
        border-radius: 50%;
        -webkit-background-size: cover;
        background-size: cover;
      }
    }
  }

  elem(partners) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    elem(partner) {
      width: 128px;
      height: 128px;
      margin-right: 15px;
      margin-bottom: 15px;

      elem(image) {
        margin: auto;
        width: 90px;
        height: 90px;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-position: center center;
        flex-shrink: 0;
        -webkit-background-size: contain;
        background-size: contain;
      }
    }

    elem(partner_1) {
      background-image: url(../../assets/img/fests/fest_logo_black_1.svg);
    }

    elem(partner_2) {
      background-image: url(../../assets/img/fests/fest_logo_black_2.svg);
    }

    elem(partner_3) {
      background-image: url(../../assets/img/fests/fest_logo_black_3.svg);
    }

    elem(partner_4) {
      background-image: url(../../assets/img/fests/fest_logo_black_4.svg);
    }

    elem(partner_5) {
      background-image: url(../../assets/img/fests/fest_logo_black_5.svg);
    }

    elem(partner_6) {
      background-image: url(../../assets/img/fests/fest_logo_black_6.svg);
    }

    elem(partner_7) {
      background-image: url(../../assets/img/fests/fest_logo_black_7.svg);
    }

    elem(partner_8) {
      background-image: url(../../assets/img/fests/fest_logo_black_8.svg);
    }

    elem(partner_9) {
      background-image: url(../../assets/img/fests/fest_logo_black_9.png);
    }

    elem(partner_10) {
      background-image: url(../../assets/img/fests/fest_logo_black_10.png);
    }

    elem(partner_11) {
      background-image: url(../../assets/img/fests/fest_logo_black_11.svg);
    }

    elem(partner_12) {
      background-image: url(../../assets/img/fests/fest_logo_black_12.svg);
    }
  }

  elem(footer) {
    margin: 0 auto;
    background-color: #23232C;
    padding: 80px 0 40px;
    color: white;

    block(title){
      max-width: 868px;
      display: block;
      margin: 0 auto 24px;
      color: white;
      text-align: center;
    }

    elem(info) {
      display: flex;
      max-width: 868px;
      margin: 0 auto;
      justify-content: space-between;
    }

    elem(card-image) {
      width: 88px;
      height: 56px;
      margin: 0 auto 24px;
      -webkit-background-size: cover;
      background-size: cover;
      background-image: url(../../assets/img/static/club_card_icon.svg);
    }

    elem(footer-content) {
      max-width: 840px;
      margin: 0 auto;

      block(paragraph) {
        color: white;
        text-align: center;
      }
    }
  }

}
