block(form-field).mod(theme artdoc) {
  /* display: inline-block; */
  position: relative;
  box-sizing: border-box;
  vertical-align: middle;
  /*font-size: 0;*/
  overflow: auto;

  .mod(invalid) {
    block(input) {
      background-color: red;

      &:before {
        background-color: #273c48;
      }
    }

    block(message) {
      display: block;
      color: red;
    }
  }
}
