block(icon) {
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5;
  padding: .25em;
  max-width: 100%;
  vertical-align: baseline;
  text-transform: none;
  background-size: cover;

  &:empty:after {
    visibility: hidden;
    content: '\00A0';
    padding: 50% 0;
    display: block;
    box-sizing: border-box;
    width: 100%;
    line-height: 0
  }

  @each $size, $fontSize in
    (  xs,    s,    m,    l,   xl,  xxl),
    (10px, 12px, 16px, 20px, 22px, 28px) {
    .mod(size $size) {
      font-size: $fontSize;
    }
  }
}
