block(calendar).mod(theme artdoc) {
  .mod(view ticket-case) {
    display: flex;

    .elem(date) {
      line-height: 1.0;
      color: inherit;
      margin-right: 8px;
    }

    .elem(content) {
      flex: 1;
      font-size: 0.35em;
      line-height: 1.4em;
      color: inherit;
    }
  }

  .elem(week-day):first-letter {
    text-transform: uppercase;
  }

  elem(discuss){
    &::before{
      top: -25px;
      width: 20px;
      height: 20px;
      left: 65px;
    }

    elem(tooltip){
      top: -125px;
      left: -40px;
      height: 85px;
      width: 230px;
      font-weight: 400;
      box-shadow: unset;

      &::after{
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: #fff;
        bottom: -5px;
        left: 110px;
      }
    }
  }
}


.radio_checked .card-movie__discussion::before {
  background-image: svg-load('../../../../static/assets/img/static/duscussion_icon-white.svg');
 }
