block(card-selection).mod(theme artdoc-dark) {
  .elem(content) {
    color: #fff;
  }

  .elem(cover):after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    background-color: rgba(0,0,0,.5);
  }
}