block(card-selection).mod(theme artdoc-dark) {
  color: #fff;

  /*Cover need speudo-payout just in dark theme*/
  .elem(cover):after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    background-color: rgba(0,0,0,.5);
  }

  .mod(view detail) {
    .elem(content) {
      color: #111;
    }

    .elem(section) {
      box-sizing: border-box;
      border-bottom: 1px solid #232323;
    }
  }
}