block(footer) {
  background-color: #111;
  color: #a0a0ad;
  padding-top: 64px;
  padding-bottom: 48px;
  box-sizing: border-box;

  .elem(about) {
    lost-column: 16/47 0 0;
    font-size: 14px;
    padding-right: 140px;
    box-sizing: border-box;

    .block(logo).mod(title) {
      display: block;
      width: 308px;
      height: 39.2px;
      margin-bottom: 26px;

      @media (max-width: 1135px) {
        width: 250px;
        height: 35px;
      }

      @media (max-width: 1024px) {
        width: 220px;
        height: 35px;
      }
    }
  }

  .elem(content) {
    & + & {
      padding-top: 2em;
    }

  }

  .elem(logo) {
    display: block;
    width: 64px;
    height: 64px;
    padding: .75em;
    box-sizing: border-box;
    background-color: #f4203b;
    background-origin: content-box;
    margin-top: -65px
  }

  .elem(nav-item){
    color: #a0a0ac;
    line-height: 2;
  }

  .elem(for-viewers) {
    lost-column: 8/47 0 0;
    padding-right: 56px;
    box-sizing: border-box;
  }

  .elem(for-professionals) {
    lost-column: 12/47 0 0;
    padding-right: 56px;
    box-sizing: border-box;
  }

  .elem(contacts) {
    lost-column: 11/47 0 0;

    block(list){
      elem(item) {
        font-size: 14px;
      }
    }
  }

  .elem(title) {
    margin-bottom: 24px;
  }

  .elem(social) {
    margin-bottom: 2em;
    block(button){
      &.mod(hovered){
        background-color: unset!important;
      }
    }
  }

  .elem(social-item) {
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 2em;
    transition: border-color 0.5s;

    &:hover {
      border-color: rgba(255,255,255,1);
    }

    & + & {
      margin-left: .5em;
      @media(max-width: 1024px){
        margin-left: 12px;
      }
    }
  }
}
