block(select).mod(theme artdoc) {    

  .elem(button) {
    &:hover,
    .mod(hovered) {
      background-color: transparent;
      color: #f3203b;
    }
  }

  .elem(tick) {
    background-image: svg-load('../../icon/_symbol/icon_symbol_chevron-down.svg', fill="#fff");
  }

  .mod(opened) .elem(tick) {
    background-image: svg-load('../../icon/_symbol/icon_symbol_chevron-down.svg', fill="#f3203b");
  }

  .mod(width available) {
    
  }

  block(button) {
    &:hover,
    .mod(hovered) {
      block(icon) {
        background-image: svg-load('../../icon/_symbol/icon_symbol_chevron-down.svg', fill="#f3203b");
      }
    }
  }
}
