block(page) {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;

  .elem(content) {
    lost-center: 1316px;
    padding-top: 2em;
    box-sizing: border-box;

    @media (max-width: 1320px) {
      lost-center: 1200px;
    }

    @media (max-width: 1024px) {
      lost-center: 960px;
    }

    .mod(view narrow) {
      lost-center: 870px;
    }

  }

  .elem(section) {
    lost-center: 100%;
    background-color: #23232c;
    color: #a0a0ad;
    padding-left: 4em;
    padding-top: 2em;
    padding-right: 4em;
    padding-bottom: 4em;
    box-sizing: border-box;
  }

  .elem(footer) {
    margin-top: 104px;
  }

  .mod(view page-index) {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .block(page-index) {
      margin: auto;
    }
  }
}
