block(page) {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;

  .elem(content) {
    lost-center: 1316px;
    min-width: 960px;

    @media (max-width: 1320px) {
      lost-center: 1200px;
    }

    @media (max-width: 1024px) {
      lost-center: 960px;
    }

    .mod(view narrow) {
      lost-center: 870px;
    }
  }

  .elem(section) {
    width: 100vw;
    background-color: #23232c;
    color: #a0a0ad;
    padding-left: 4em;
    padding-right: 4em;
    box-sizing: border-box;

    @media (max-width: 1320px) {
      padding-left: 0;
      padding-right: 0;
      min-width: 1024px;
    }
  }

  .elem(title) {
    font-size: 56px;
    font-weight: bold;
    color: #23232c;
    line-height: 64px;

    &:after {
      content: '';
      display: inline-block;
      width: 0.2em;
      height: 0.2em;
      background-color: #f3203b;
    }
  }

}
