block(page) {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  min-width: 960px; /* костыль, пока нет моб. версии */
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  .elem(content) {
    lost-center: 1428px;
    width: 100%;
    position: relative;
    margin-bottom: auto;
    box-sizing: border-box;
    padding-left: 56px;
    padding-right: 56px;

    @media (max-width: 1400px) {
      lost-center: 1288px;
    }

    @media (max-width: 1280px) {
      lost-center: 1232px;
    }

    .mod(width narrow) {
      lost-center: 982px;
    }

    .mod(width tiny) {
      lost-center: 756px;
    }

    .mod(gap top) {
      margin-top: 80px;
    }

    .mod(gap bottom) {
      margin-bottom: 104px;
    }
  }

  .elem(section) {
    min-width: 100vw;
    background-color: #23232c;
    color: #a0a0ad;
  }

  .elem(title) {
    margin-top: 80px;
    margin-bottom: 40px;

    .mod(gap top) {
      margin-top: 32px;
    }

    .mod(gap bottom) {
      margin-bottom: 32px;
    }

    .mod(gap both) {
      margin-top: 104px;
      margin-bottom: 40px;
    }
  }

  /* Всякие отступы */

  .elem(breadcrumbs) {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .elem(slider) {
    margin-bottom: 76px;
  }

  .elem(poster) {
    padding-bottom: 26px;
  }

  .elem(news) {
    padding-bottom: 26px;
  }

  .elem(collections) {
    margin-bottom: 40px;
  }

  .mod(widget) {
    .elem(content) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  /*-----------------------*/
  /*----Начало Адаптива----*/
  /*-----------------------*/

  .mod(adaptive) {
    min-width: 320px;

    block(breadcrumbs) {
      @media (max-width: 1024px) {
        display: none;
      }
    }

    block(header) {
      @media (max-width: 1024px) {
        justify-content: flex-start;

        elem(social) {
          display: none;
        }

        elem(menu) {
          display: none;
        }

        elem(logo) {
          display: none;
        }

        elem(search) {
          display: block;
          padding: 16px;
          margin-left: auto;
          block(icon) {
            display: block;
          }
          block(text) {
            display: none;
          }
        }

        elem(show-menu) {
          display: block;
          padding: 16px;
          block(text) {
            font-size: 12px;
            display: none;
          }
        }

        elem(title) {
          width: 190px;
          padding: 8px 16px;
        }
      }
    }

    block(footer) {
      @media (max-width: 1024px) {
        padding-top: 20px;
        padding-bottom: 23px;
        position: relative;
      }

      elem(content) {
        @media (max-width: 880px) {
          display: flex;
          flex-direction: column;
          padding: 0 !important;
        }

        elem(about) {
          @media (max-width: 1024px) {
            padding: 0 16px;
            max-width: 280px;
          }

          @media (max-width: 880px) {
            padding-right: 0;
            width: 100%;
            padding: 16px;
            box-sizing: border-box;

            block(link) {
              @media (max-width: 1024px) {
                margin-bottom: 8px;
              }
            }

            block(paragraph) {
              font-size: 12px;
              margin-bottom: 0;
            }
          }
        }

        elem(title) {
          @media (max-width: 1024px) {
            width: 100%;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 10px;
          }

          @media (max-width: 880px) {
            padding: 16px;
            box-sizing: border-box;
            box-shadow: inset 0 3px 0 -2px #393943, inset 0 -3px 0 -2px #393943;
            margin-bottom: 0;
          }
        }

        elem(for-viewers) {
          @media (max-width: 880px) {
            padding-right: 40px;
            width: 100%;
          }

          @media (max-width: 880px) {
            padding-right: 0;
            width: 100%;
          }

          block(list) {
            @media (max-width: 880px) {
              padding: 16px;
              box-sizing: border-box;
              display: none;
            }

            .mod(show) {
              @media (max-width: 880px) {
                display: block;
              }
            }
          }
        }

        elem(for-professionals) {
          @media (max-width: 880px) {
            padding-right: 0;
            width: 100%;
            margin-top: -1px;
          }

          block(list) {
            @media (max-width: 880px) {
              padding: 16px;
              box-sizing: border-box;
              display: none;

              .mod(show) {
                @media (max-width: 880px) {
                  display: block;
                }
              }
            }
          }
        }

        @media (max-width: 1024px) {
          block(list) {
            elem(item) {
              font-size: 11px;
              &::after {
                display: none;
              }
            }
            elem(item)::after {
              display: none;
            }
          }
        }

        elem(contacts) {
          @media (max-width: 800px) {
            width: 100%;
            padding: 16px;
            box-sizing: border-box;
          }

          elem(social) {
            @media (max-width: 1024px) {
              margin-bottom: 23px;
            }
          }

          block(list) {
            elem(item) {
              @media (max-width: 1024px) {
                font-size: 12px;
                line-height: 16px;
              }
            }
          }
        }

        .mod(section logo) {
          @media (max-width: 1024px) {
            padding: 0 16px;
            box-sizing: border-box;
            position: absolute;
            bottom: 55px;
            display: inline;

            block(link) {
              width: 40px;
              height: 40px;
              padding: 8px;
              position: absolute;
              right: 16px;
            }
          }
        }

        .mod(section misc) {
          @media (max-width: 1024px) {
            margin-top: 50px;
            margin-bottom: 50px;
            font-size: 11px;
            padding: 0 16px !important;
          }
          @media (max-width: 880px) {
            padding: 0 16px !important;
            box-sizing: border-box;

            block(paragraph) {
              margin-bottom: 0;
              font-size: 12px;
              line-height: 16px;
              margin-top: 5px;
            }

            block(list) {
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              elem(item) {
                font-size: 12px;
                line-height: 16px;
                &::after {
                  display: none;
                }
              }
            }

            block(link) {
              font-size: 12px;
              line-height: 16px;
            }
          }
        }
      }
    }

    /* Главная страница */

    block(slider) {
      @media (max-width: 1024px) {
        display: none;
      }
    }

    block(card-poster) {
      @media (max-width: 1024px) {
        flex-direction: column;
      }

      elem(content) {
        @media (max-width: 1024px) {
          height: 40%;
        }

        elem(image) {
          @media (max-width: 1024px) {
            height: 300px;
          }
        }
      }

      block(card-movie) {
        &.mod(view slide) {
          @media (max-width: 1024px) {
            elem(content) {
              min-height: unset;
            }

            elem(name) {
              font-size: 16px;
            }

            elem(buy) {
              margin: 0;
              &block(button).mod(size xl) {
                font-size: 12px;
                line-height: 16px;
                elem(text) {
                  padding: 10px 22px;
                }
              }
            }
          }
        }

        @media (max-width: 1024px) {
          elem(cover) {
            padding: 16px;
          }

          elem(title) {
            font-size: 12px;
            line-height: 20px;
            padding: 8px;
          }

          elem(description) {
            display: none;
          }

          elem(list) {
            display: none;
          }

          elem(icon) {
            width: 32px;
            height: 32px;
          }
        }
      }

      elem(aside) {
        @media (max-width: 1024px) {
          width: unset;
        }

        block(link) {
          @media (max-width: 1024px) {
            display: none;
          }
        }
      }
    }

    elem(content) {
      @media (max-width: 1024px) {
        padding: 0 16px 16px;

        block(paragraph) {
          margin-bottom: 24px;
        }
      }

      block(heading) {
        &.mod(size l) {
          @media (max-width: 880px) {
            font-size: 24px;
            line-height: 1.3;
            margin-top: 40px;
            margin-bottom: 24px;
            letter-spacing: 0;
          }
        }
      }
    }

    elem(desktop-link-btn) {
      @media (max-width: 1024px) {
        display: none;
      }
    }

    elem(adaptive-link-btn) {
      display: none;

      @media (max-width: 1024px) {
        display: block;
        margin-bottom: 24px;
        width: 100%;
      }

      &block(button).mod(size xxl) {
        elem(text) {
          @media (max-width: 1024px) {
            padding: 12px 11px;
            font-size: 18px;
            line-height: 24px;
          }
        }
      }
    }

    block(news) {
      block(news-block) {
        elem(title) {
          &block(heading).mod(size xs) {
            @media (max-width: 1024px) {
              font-size: 16px;
            }
          }
        }

        elem(footer) {
          @media (max-width: 1024px) {
            flex-direction: column;
          }
        }
      }

      elem(content) {
        @media (max-width: 1024px) {
          overflow-x: auto;

          elem(item) {
            @media (max-width: 1024px) {
              flex-shrink: 0;
              width: 196px;
            }
          }
        }
      }
    }

    elem(collections) {
      @media (max-width: 1024px) {
        margin-left: 1px;
        margin-bottom: 24px;
      }
    }

    block(card-selection) {
      @media (max-width: 1024px) {
        flex-direction: column;
      }

      .mod(view selections) {
        & + & {
          background-color: red;
          @media (max-width: 1024px) {
            margin-top: 45px !important;
          }
        }

        block(card-movie) {
          .mod(view selection) {
            @media (max-width: 1024px) {
              height: 286px;
            }
          }
        }
      }

      .mod(theme artdoc) {
        &block(card-selection) {
          &.mod(view selections) {
            elem(content) {
              @media (max-width: 1024px) {
                box-shadow: inset 0 5px 0 -1px #000, inset 0 -3px 0 -2px #000;
              }
            }
          }
        }
      }

      elem(content) {
        @media (max-width: 1024px) {
          margin-bottom: 16px;
          height: 209px;
        }
      }

      elem(counter-number) {
        @media (max-width: 1024px) {
          font-size: 40px;
        }
      }

      elem(counter-label) {
        @media (max-width: 1024px) {
          font-size: 14px;
          line-height: 20px;
        }
      }

      elem(cover) {
        @media (max-width: 1024px) {
          padding: 17px 20px;
        }
      }

      elem(aside) {
        @media (max-width: 1024px) {
          overflow-x: auto;
          width: unset;
          margin-left: 0;
          display: flex;
        }

        elem(item) {
          @media (max-width: 1024px) {
            width: 196px;
            flex-shrink: 0;
            box-shadow: inset 0 -3px 0 -2px #000;
          }
        }
      }

      elem(name) {
        @media (max-width: 1024px) {
          font-size: 24px;
          line-height: 28px;
        }
      }

      elem(author) {
        @media (max-width: 1024px) {
          display: none;
        }
      }
    }

    elem(section) {
      block(club-footer) {
        @media (max-width: 1024px) {
          display: none;
        }
      }
    }

    block(dropdown).mod(nav-menu) {
      @media (max-width: 1024px) {
        top: 56px !important;

        block(menu).mod(nav-menu) {
          column-count: 1;
          padding: 32px 16px 0;

          block(nav-menu).elem(close) {
            display: block;
          }

          elem(item) {
            width: 60px;
          }
        }
      }
    }

    block(popup) {
      &block(dropdown).mod(nav-menu) {
        @media (max-width: 1024px) {
          overflow: auto;
          height: 100vh;
        }
      }
    }

    block(modal).mod(view mobile-menu) {
      @media (max-width: 1024px) {
        block(nav-menu) {
          width: 100%;
          elem(item) {
            &block(link).mod(hovered) {
              background-color: transparent;
            }
          }
        }

        block(popup) {
        }
      }
    }

    /*Страница фильмов*/
    &block(page).mod(view page-movies) {
      block(breadcrumbs) {
        @media (max-width: 1024px) {
          display: none;
        }
      }

      block(heading).mod(size xl) {
        @media (max-width: 1024px) {
          line-height: 24px;
          margin-bottom: 32px;
          margin-top: 32px;
          font-size: 18px;
        }
      }

      block(card-movie).mod(view grid) {
        @media (max-width: 1024px) {
          elem(name) {
            padding: 8px 0 16px;
          }

          elem(director) {
          }
        }
      }

      block(filters) {
        elem(header) {
          @media (max-width: 1024px) {
            flex-direction: column;
            align-items: stretch;
            box-shadow: unset;
          }
        }

        elem(view) {
          @media (max-width: 880px) {
            display: none;
          }
        }

        elem(toggle) {
          @media (max-width: 880px) {
            width: 100%;
            display: block;
          }
        }

        elem(actions) {
          @media (max-width: 880px) {
            flex-wrap: wrap;
            margin: 0;
            flex: 1;

            elem(reset) {
              order: 2;
              position: relative;
            }

            elem(count) {
              order: 1;
            }

            elem(toggle) {
              margin-bottom: 12px;
            }
          }
        }

        elem(sort) {
          @media (max-width: 880px) {
            flex: unset;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 234px;

            block(radio) {
              margin-right: 10px;
              margin-left: 0;

              elem(box) {
                margin-right: 0;
              }

              &.mod(checked) {
                elem(box) {
                  margin-right: 4px;
                }
              }
            }
          }

          &::before {
            @media (max-width: 880px) {
              margin-right: 0px;
            }
          }
        }

        elem(form) {
          @media (max-width: 880px) {
            overflow: auto;
            position: relative;
            &.mod(show) {
              max-height: 1000px;
              overflow: auto;
              margin-top: 12px;
              &::before {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                margin-left: -12px;
                top: 0;
                margin-top: -12px;
                width: 24px;
                height: 24px;
                background-color: #23232c;
                transform: rotate(45deg);
              }

              block(form).mod(view filters) {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-top: 37px;

                block(select) {
                  align-items: center;
                }

                block(filters) {
                  elem(item) {
                    margin-right: 0;
                  }
                }
              }
            }
          }
        }

        .mod(result grid) {
          @media (max-width: 880px) {
            .elem(content) {
              padding-top: 40px;
            }

            .elem(result-item) {
              /*lost-column: 1/1;*/
            }
          }

          @media (max-width: 640px) {
            .elem(result-item) {
              lost-column: 1/1;
            }
          }
        }
      }
    }
    /*Страница Конкретного фильма*/
    &block(page).mod(view page-movie) {
      elem(content) {
        @media (max-width: 1024px) {
          padding: 0;
        }

        &.mod(gap top) {
          @media (max-width: 1024px) {
            margin-top: 32px;
          }
        }
      }

      block(breadcrumbs) {
        @media (max-width: 1024px) {
          display: none;
        }
      }

      block(card-movie).mod(view full) {
        @media (max-width: 1024px) {
          margin-top: 20px;
          elem(aside) {
            margin-left: 40px;
            margin-right: 20px;
          }

          elem(content) {
            margin-left: 20px;
          }
        }

        @media (max-width: 880px) {
          flex-direction: column;

          elem(content) {
            padding-bottom: 77px;
            width: 100%;
          }

          elem(slider) {
            margin-bottom: 20px;
          }

          elem(aside) {
            lost-column: 1/1;
            margin-left: 0;
            padding: 0 16px;
            box-sizing: border-box;

            elem(orig-name) {
              font-size: 14px;
              line-height: 20px;
            }

            elem(name) {
              padding: 8px 0 16px;
              font-size: 24px;
              line-height: 28px;
              margin-bottom: 0;
            }

            block(list).mod(size s) {
              font-size: 12px;
              line-height: 16px;
            }
          }
        }
      }

      block(ticket-case) {
        @media (max-width: 1024px) {
          padding: 28px 16px;

          elem(calendar) {
            display: flex;
            flex-direction: column;
            margin-bottom: 40px;

            block(radio) {
              lost-column: 1/1;
            }
          }

          elem(content) {
            display: flex;
            flex-direction: column;

            elem(aside) {
              lost-column: 1/1;
            }

            elem(list-tickets) {
              lost-column: 1/1;
            }

            block(list-tickets) {
              display: flex;
              flex-direction: column;

              block(card-ticket) {
                lost-column: 1/1;
                position: relative;
                margin-bottom: 10px;

                elem(header) {
                  display: flex;
                  flex-direction: row;
                  font-size: 12px;
                  line-height: 16px;
                  padding: 8px 5px 0;
                }

                elem(content) {
                  padding: 0px 5px 8px;
                }

                elem(buy) {
                  position: absolute;
                  right: 0;
                  top: 0;
                  margin-top: 12px;
                  margin-right: 10px;
                  padding: 13px;
                  box-sizing: border-box;
                  margin-bottom: 0;
                  border: 0;
                  font-size: 16px;
                  line-height: 20px;
                }

                elem(user-time) {
                  font-size: 24px;
                  line-height: 28px;
                }
                elem(user-date) {
                  font-size: 12px;
                  line-height: 16px;
                }
              }
            }
          }
        }
      }

      block(movie-about) {
        @media (max-width: 880px) {
          padding: 0 16px;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;

          elem(section) {
            lost-column: 1/1;

            &:nth-child(2) {
              order: -1;
            }
          }

          block(list) {
            font-size: 12px;

            elem(term) {
              width: 50%;
            }
          }

          block(link).mod(view tag) {
            padding: 2px 12px;
          }

          elem(award) {
            lost-column: 1/1;
          }
        }
      }
    }

    /*страница отдельной подборки*/
    &.mod(view page-selection) {
      @media (max-width: 880px) {
        block(card-selection) {
          &.mod(view detail) {
            padding-bottom: 0;

            elem(author) {
              margin-bottom: 0;
            }
          }

          elem(header) {
            block(page) {
              elem(content) {
                padding: 0;
              }
            }
          }

          elem(item) {
            lost-column: 1/1;
          }

          elem(author) {
            display: block;
          }

          elem(content) {
            height: unset;
            padding: 24px 0px 40px;
            margin-bottom: 0;
          }

          elem(section) {
            border: none;
          }

          elem(share) {
            display: none;
          }

          elem(description) {
            width: 100%;
            font-size: 14px;
            line-height: 20px;
          }

          block(card-author) {
            margin-bottom: 0;
            elem(aside) {
              width: 48px;
              height: 48px;
            }

            elem(header) {
              font-size: 12px;
              line-height: 16px;
            }
            block(list) {
              font-size: 12px;
              line-height: 16px;
            }
          }
        }
      }
    }
  }
  /*------------------*/
  /*--Конец адаптива--*/
  /*------------------*/
}

html {
  background-color: #111;
}

body {
  background-color: #fff;
}
