block(footer).mod(theme artdoc) {
  background-color: #111;
  color: #a0a0ad;
  padding: 64px 56px 48px;
  box-sizing: border-box;

  .elem(content) {
    lost-center: 1316px;
  }

  .elem(about) {
    lost-column: 16/47 0 0;
    font-size: 14px;
    padding-right: 140px;
    box-sizing: border-box;

    .block(logo).mod(title) {
      display: block;
      width: 308px;
      height: 39.2px;
      margin-bottom: 26px;

      @media (max-width: 1135px) {
        width: 250px;
        height: 35px;
      }

      @media (max-width: 1024px) {
        width: 220px;
        height: 35px;
      }
    }
  }

  .block(list){

    elem(item){
      color: #A0A0AC;
      cursor: pointer;

      block(link) {
        text-decoration: none;
      }

      block(link):hover {
        color: unset;
      }
    }
  }

  .elem(for-viewers) {
    lost-column: 8/47 0 0;
    padding-right: 56px;
    box-sizing: border-box;
  }

  .elem(for-professionals) {
    lost-column: 12/47 0 0;
    padding-right: 56px;
    box-sizing: border-box;
  }

  .elem(contacts) {
    lost-column: 11/47 0 0;

    block(list){
        elem(item) {
          font-size: 14px;
      }
    }
  }
}
