block(heading) {
  /* all: initial */
  display: block;
  font-family: inherit;
  font-style: inherit;
  color: inherit;
  width: 100%;
  margin: 0;

  .mod(caps) {
    text-transform: uppercase
  }

  @each $align in (left, center, right) {
    .mod(align $align) {
      text-align: $align;
    }
  }
}
/* TODO: https://webref.ru/css/target */
