block(page).mod(view page-club) {

    block(button):before {
      box-shadow: unset;
    }

  block(page-club).elem(get-card) {
    max-width: 420px;
    display: block;
    margin: 40px auto 80px;
    padding: 16px 0px;
    box-sizing: border-box;
    background-color: #fff;
    cursor: pointer;

    block(button__text) {
      color: black;
      font-weight: bold;
      letter-spacing: 0.8px;
    }
  }

  block(page-club).elem(make-party) {
    display: block;
    width: 100%;
    margin: 40px auto 80px;
    padding: 16px 0px;
    box-sizing: border-box;
    background-color: #EEEEF2;
    cursor: pointer;

    block(button__text) {
      color: black;
      font-weight: bold;
    }
  }


  block(footer) {
    margin-top: 0;
  }

}
